

body {
    background: black;
    text-align: center;
/*    padding: 20px;*/
    margin: 0 auto;
   
}

h1 { color:aliceblue}
.container {
    text-align: center;
    margin: 50px auto;
    border: 1px solid green;
    border-radius: 10px;
}

* {
    /*    border: 1px solid green;*/
}

.numberBlock {
    /*        border: 1px solid black;*/
    width: 100%;
    height: 25%;
    padding: 1px 1px 1px 5%;
    margin: 1px auto;
    padding-bottom: 1px ;
    
}

#numbers {
    width: 100%;
    height: 98%;
    margin: 1% 1%;
    padding:0 0 0 0;
    background-color: aliceblue;
}

/*
.numbers:nth-child(10){
position: relative;
left: 31.5%;
}
*/

#clearNum, .numbers {
    list-style: none;
    border-radius: 3px;
    width: 31%;
    float: left;
    text-align: center;
    margin: 1px 1px;
    font-size: 1.2em;
    font-weight: bold;
    white-space: normal;
    border: 1px solid green;
    background-color:antiquewhite;
}



.operatorBlock ul{
    width: 96%;
    height: 100%;
    padding: 5px 5px 5px 5px;
    margin: 1% 0;

}

.operatorBlock li {
    
    list-style: none;
    float: left;
    width: 30%;
    height: 30%;
    border: 1px solid green;
    margin: 5% 5%;
    border-radius: 10px;
    font-weight: bold;  
    font-size: 1.3em;
    background-color: antiquewhite;
}

.operatorBlock li:hover {
    background: black;
    color:white;
}


.numberBlock li:hover {
    background: black;
    color:white;
}

.row #result{
    width: 100%;
    height: 100px;
}
#result  {
    font-weight: bold;
    width: 50%;
    border: 1px solid grey;
    width: 50%;
    height: 30%;
    margin: 1%;
    float: left;
    padding-top: 5%;
    color: aliceblue;
}

footer {
    background: url('bg.jpg')no-repeat center;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 120px;
   
}
.fa-windows,
.fa-html5,
.fa-css3,
.fa-linkedin,
.fa-google-plus,
.fa-android,
.fa-facebook,
.fa-github,
.fa-code,
.fa-twitter{
    background-color: aliceblue;
    padding:19px;
    border-radius: 90%;
    font-size: 32px;
    
}
.fa-windows:hover{background-color:olivedrab; color: black;}
.fa-code:hover{background-color: black; color:white;}
.fa-css3:hover{background-color: yellow; color: black}
.fa-html5:hover{background-color: firebrick; color:black; }
.fa-linkedin:hover{background-color: mediumblue; color:white;}
.fa-google-plus:hover{background-color: firebrick; color:white;}
.fa-twitter:hover{background-color: dodgerblue; color:white;}
.fa-github:hover{background-color: black; color:white;}
.fa-android:hover{background-color: darkgreen;color:black;}

.fa-facebook:hover {
    background-color: darkblue;
    color:white;
}

@media screen and ( max-width: 768px) {
    #operator {
        padding-left: 10%;
    }

    #operator li {
        list-style:none;
        float: left;
        width: 30%;
        height:50%;
        border: 1px solid green;
        margin: 1px 1px 1px 10px;
        border-radius: 10px;
        font-weight: bold;  
        padding-bottom: 6px;
    }

}

@media screen and ( max-width: 478px){

    #operator li {
        width: 25%;
        height: 40%;
        color:mediumvioletred;
    }
    #operator li:hover {
        color: aliceblue;

    }
    #operator {
        padding-left: 10%;

    }
}
