

body {
    background: #301;
    text-align: center;
/*    padding: 20px;*/
    margin: 0 auto;
   
}

h1 { color:#ddd}
.container {
    text-align: center;
    margin: 50px auto;
    border: 1px solid green;
    border-radius: 10px;
}

* {
    /*    border: 1px solid green;*/
}

.numberBlock {
    /*        border: 1px solid black;*/
/*    width: 100%;*/
/*    height: 25%;*/
/*    padding: 1px 1px 1px 5%;*/
/*    margin: 1px 0;*/
/*    padding-bottom: 1px ;*/
    
}

#numbers {
/*    border: 1px solid red;*/
/*    width: 100%;*/
/*    height: 98%;*/
/*    margin: 1% 1%;*/
/*    padding:0 0 0 0;*/
}

/*
.numbers:nth-child(10){
position: relative;
left: 31.5%;
}
*/

#clearNum, .numbers {
    list-style: none;
    border-radius: 3px;
    width: 31%;
    float: left;
    text-align: center;
    margin: 1px 1px;
    font-size: 1.2em;
    font-weight: bold;
    white-space: normal;
    border: 1px solid green;
    background-color:#eee;
}



#operator {
    list-style:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
/*    width: au    */
/*    height: 100%;*/
/*    padding: 5px 5px 5px 5px;*/
/*    margin: 1% auto;*/

}

.operator li {    
 list-style: none;
    border-radius: 3px;
    width: 15.19999%;
    float: left;
    text-align: center;
    margin: 1px 1px;
    font-size: 1em;
    font-weight: bold;
    white-space: normal;
    border: 1px solid green;
    background-color:#eee;
    
}

.operator li:hover {
    background: #222;
    color:#ddd;
}


.numberBlock li:hover {
    background: #323;
    color:#aaa;
}

.row #result{
/*    width: 100%;*/
/*    height: 100px;*/
}
#result  {
    font-weight: bold;
/*    width: 50%;*/
    border: 1px solid grey;
/*    width: 50%;*/
/*    height: 30%;*/
    margin: 1%;
/*    float: left;*/
    padding: 2%;
    color: #aaa;
}

footer {
    background: url('bg.jpg')no-repeat center;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 120px;
   
}
.fa-windows,
.fa-html5,
.fa-css3,
.fa-linkedin,
.fa-google-plus,
.fa-android,
.fa-facebook,
.fa-github,
.fa-code,
.fa-twitter{
    background-color: aliceblue;
    padding:19px;
    border-radius: 90%;
    font-size: 32px;
    
}
.fa-windows:hover{background-color:olivedrab; color: black;}
.fa-code:hover{background-color: black; color:white;}
.fa-css3:hover{background-color: yellow; color: black}
.fa-html5:hover{background-color: firebrick; color:black; }
.fa-linkedin:hover{background-color: mediumblue; color:white;}
.fa-google-plus:hover{background-color: firebrick; color:white;}
.fa-twitter:hover{background-color: dodgerblue; color:white;}
.fa-github:hover{background-color: black; color:white;}
.fa-android:hover{background-color: darkgreen;color:black;}

.fa-facebook:hover {
    background-color: darkblue;
    color:white;
}

@media screen and ( max-width: 768px) {

/*    #operator li {*/
/*        border: 1px solid green;*/
/*        border-radius: 10px;*/
/*    }*/


}

